<launch>

  <arg name="robot_ip"/>
  <arg name="kinematics_config" default="$(find ur3e_official_driver_relaxed_ik_demo)/calibration/ur3e.yaml"/>

  <!-- Load UR driver -->
  <include file="$(find ur_robot_driver)/launch/ur3e_bringup.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="kinematics_config" value="$(arg kinematics_config)"/>
    <arg name="use_tool_communication" value="true"/>
    <arg name="tool_voltage" value="24"/>
  </include>

</launch>
