<launch>

  <!-- Launch robot interface node -->
  <node name="lik_ur_hw_interface" pkg="ur3e_real_time_motion_playground" type="lik_ur_hw_interface.py" output="screen">
    <param name="arm_joint_step_delay" value="0.5" type="double"/>
  </node>

  <!-- Launch gripper front-end control UI -->
  <node pkg="ur3e_real_time_motion_playground" type="rik_gripper_ui.py" name="rik_gripper_ui" output="screen"/>

  <!-- Marker server -->
  <node name="interactive_marker_controller" pkg="ur3e_real_time_motion_playground" type="interactive_marker_controller.py" output="screen">
    <param name="separate_grip_chain" value="$(arg lik_grip_control)"/>
  </node>

  <!-- Rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ur3e_real_time_motion_playground)/rviz/test.rviz" />

</launch>
