<launch>

  <arg name="planner" default="rik"/>
  <arg name="limited" default="false"/>

  <!-- Load URDF -->
  <include file="$(find ur3_e_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- Robot state broadcasters -->

  <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/rik/joint_state]</rosparam>
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- RelaxedIK or LivelyIK -->
  <group if="$(eval arg('planner') == 'rik')">
    <include file="$(find relaxed_ik)/launch/load_info_file.launch">
      <arg name="info_file_name" value="info_ur3e.yaml"/>
    </include>
    <include file="$(find relaxed_ik)/launch/relaxed_ik_julia.launch"/>
  </group>

  <group if="$(eval arg('planner') == 'lik')" >
    <include file="$(find lively_ik)/launch/load_info_file.launch">
      <arg name="info_file_name" value="info_ur3e.yaml"/>
    </include>
    <include file="$(find lively_ik)/launch/relaxed_ik_julia.launch"/>
  </group>

  <!-- Rviz launch -->
  <include file="$(find ur3_e_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="false"/>
  </include>

</launch>
